hms-venv/
db.sqlite3
.DS_Store
core/__pycache__
api/__pycache__
# Ignore all files in the media folder
media/*

# But do not ignore the media folder itself
!media/

api/migrations/__pycache__
celery.log
