<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}HMS:Api{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header class="hero">
      <div class="hero-content">
        <h1>Welcome to My Django Site</h1>
        <div class="buttons">
          <a href="/lecturer" class="btn">Redirect to Lecturer Site</a>
          <a href="/student" class="btn">Redirect to Student Site</a>
        </div>
      </div>
    </header>
    <main class="">{% block content %}{% endblock %}</main>
    <script src="{% static 'static/js/scripts.js' %}"></script>
  </body>
</html>
